#缓存
/data/Runtime/
/data/Runtime/*.php
/data/statistics/
/data/session/

#冗余文件
*.lnk
*.tmp
*.bak
*.zip
*.rar
*.log
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
.DS_Store
node_modules/

#编辑器配置文件
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln