#缓存
/data/Runtime/Cache
/data/Runtime/Temp
/data/Runtime/Log

#冗余文件
*.lnk
*.tmp
*.bak
*.zip
*.rar
*.log
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
node_modules/

#编辑器配置文件
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln